/* Stlye for HMIS Dashboard */

.number-highlight {
    margin-left: 10px;
    margin-right: 10px;
}

/* #middle-card {
    margin-bottom: 10px;
} */

/* #left-card {
    margin-right: 25px;
} */

.bar-in {
    fill:green;
}
.bar-out {
    fill: red;
}
.bar-act {
    fill: blue;
}
.domain {
	display: none;
}
